﻿<%@ Page Title="" Language="C#" MasterPageFile="~/GMAO.Master" AutoEventWireup="true" CodeBehind="accueil.aspx.cs" Inherits="WebApplication3.WebForm2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
	<link rel="stylesheet" href="statics/css/accueil.css"/>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
	accueil
</asp:Content>
