﻿body {

}
#home-container{
    width:60%;
    border-radius: 10px;
    border: 1px solid gray;
    margin: auto;
	margin-top: 100px;
	padding:30px;
}
#panel{
	height: 100%;
	border-right: 2px solid gray;
}
#panel .col-lg-12{
	border-radius: 10px;
	color: blue;
	line-height: 300%;
}
#panel .col-lg-12 a{
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
}
#panel .col-lg-12 a:hover{
	text-decoration: none;
	color: white;
	background: #266bb5;
}
#panel .col-lg-12:hover{
	color: white;
	background: #266bb5;
}
